.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .archive__item {
    display: flex;
    flex-direction: column;
  }
  
  .archive__item-teaser {
    order: -1;
  }